body{
  font-family: Arial, sans-serif;
}

input, button {
  font-size: 1em;
  padding: 5px;
  margin: 10px;
}
span{
  display: flex;
  text-align: center;
  gap: 10px;
}
.timer {
  font-size: 2em;
  margin-top: 20px;
  /* margin-left: 10px; */
}
.tirm{
  font-size: 20px;
  justify-content: center;
}

p{
  font-size: 15px;
}